Package: com.booleanmagic.fullforce
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 1.3.3
Depends: firmware (>= 3.2), mobilesubstrate, preferenceloader, applist (>= 1.3), cy+model.ipad | gsc.ipad | gsc.wildcat, cydia (>= 1.1.1)
Description: Force applications to show in iPad mode
Name: FullForce
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=fullforceData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=fullforceData
Author: Ryan Petrich <rpetrich@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rpetrich
Tag: purpose::extension
